[run]
    branch = True
    cover_pylib = False
    source = app
    concurrency = multiprocessing

[report]
    skip_covered = True
    show_missing = True
    sort = Cover
    omit =
        app/lib/external/*
