coverage==4.2
Django==1.10.1
requests==2.11.1
nltk==3.2.1
psycopg2==2.6.2
SPLAT-library==0.4.2
scipy==0.19.0
scikit-learn==0.18.1
numpy==1.12.1
psutil
matplotlib
codecov
nose
termcolor
sqlparse
appdirs==1.4.3
packaging==16.8
pyparsing==2.2.0
six==1.10.0

