appdirs==1.4.3
codecov
coverage==4.2
Django==1.10.1
google-api-python-client==1.6.2
matplotlib
nltk==3.2.1
nose
numpy==1.12.1
packaging==16.8
psutil
psycopg2==2.6.2
pyparsing==2.2.0
requests==2.11.1
scikit-learn==0.18.1
scipy==0.19.0
simplejson==3.10.0
six==1.10.0
SPLAT-library==0.4.2
sqlparse
termcolor
timeout-decorator==0.3.3
uncertainty==0.1.0
politeness==0.1.2
